@use "variables" as v;
@use "mixins" as m;
@use "placeholders";
@use "sass:color";

.experience {
  margin: 200px 0;

  // .experience__content

  &__content {
    @include m.d-flex(center, center, wrap, column, 96px);
  }

  &__card {
    @include m.d-flex(space-around, space-between, wrap, row, 100px, 100px);
    width: 100%;
  }

  // .experience__title

  &__title {
    @include m.font(60px, 400, 1, v.$white);
  }

  // .experience__cards

  &__cards {
    &:hover {
      box-shadow: 1px 1px 10px 0px rgba(255, 255, 255, 0.5);
      background-color: color.adjust(v.$black, $alpha: -0.85);
      cursor: pointer;
      .experience__cards-btn {
        background-color: color.adjust(v.$white, $alpha: -0.15);
        translate: 15px -15px;
      }
    }
    position: relative;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    @include m.d-flex(center, space-between, nowrap, column, 0, 0);
    max-width: 322px;
    height: 295px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &-title {
      text-align: center;
      @include m.d-flex(center, center, nowrap, column, 0, 0);
      height: 100%;
      @include m.font(23px, 400, 1.3, v.$white);
    }
    &-img {
      width: 100%;
      height: 100%;
    }

    &-btn {
      position: absolute;
      @include m.position(absolute, 1, -1, bottom, left, -63px, -71px);
      rotate: 7deg;
      width: 160px;
      height: 130px;
      border: none;
      border-radius: 30px;
      background-color: v.$white;
      transition: all 0.3s ease-in-out;
      &-icon {
        width: 36px;
        height: 22px;
        fill: v.$black;
        rotate: -7deg;
        translate: 32px -29px;
      }
    }
  }
}
